body{
    background:white;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heart {
    position: absolute;
    font-size: 2rem;
    animation: float 4s infinite ease-in-out;
}

.heart2 {left: 20%;top: 20%;}
.heart3 {right: 20%;top: 30%;}
.heart4 {right: 15%;top: 70%;}
.heart5 {right: 30%;top: 35%;}
.heart6 {right: 350%;top: 35%;}
.heart7 {right: 200%;top: 900%;}
.heart8 {right: 700%;top: 3000%;}
.heart9 {right: 50%;top: 60%;}
.heart10 {right:250%;top: 65%;}


@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}


.phone{
    width:320px;
    background:rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.3);
    padding:30px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 8px 32px rgba(0,0,0,0.15);
}

h1{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color:black;
}

body{
    font-family: 'Nunito', sans-serif;
}

.compliment-box{
    margin:30px 0;
    font: size 30px;
    color:white;
}

button{
    background:black;
    border:black;
    padding:12px 24px;
    border-radius:20px;
    color:white;
    cursor:pointer;
    transition: all 0.3s ease;
}


.new-btn{
    margin: top 5px;
}

button:hover{
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
input{
    background: black;
    color: white;
    padding:12px;
    border-radius:20px;
    border:none;
    width:220px;
    text-align:center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.compliment-box{
    margin-top: 20px;
    padding: 20px;
    background:black;
    border-radius: 20px;
    font-size: 1.3rem;
    color: #a10052;
    animation: reveal 0.7s ease;
    box-shadow: 0 0 20px rgba(212, 192, 202, 0.717);
}

@keyframes reveal{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

